
/* Article 1 */
div#body div.actual div.article1 div{
    display: inline-block;
}
div#body div.actual div.article1 div img{
    width: 85%;
    border-radius: 55px;
    margin-left: 425%;
    margin-bottom: 25%;
}