/* Body General */
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(https://www.fr.audi.be/content/dam/nemo/models/q3/q3/my-2021/1920x1080-gallery/1920x1080-audi-q3-front-side-view-my2021-81001_1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
}

/* Titre principal */
header{
    background-color: black;
    color: aliceblue;
    padding: 1%;
    border-radius: 25px;
}

/* Menu de navigation */
header nav ul{
    list-style-type: none;
    display: inline-block;
}
header nav ul li a{
    color: white;
    text-decoration: none;
}